@main("allaudits"){
<style>
	table td {
		border:1px solid black;
		padding: 2px;
	}
</style>
<h1>All Audits : @Audit.find.all().size()</h1>
	<table id="hor-minimalist-a">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Type</th>
				<th scope="col">Against</th>
				<th scope="col">Identified By</th>
				<th scope="col">On</th>	
				<th scope="col">By</th>			
			</tr>
		</thead>
		<tbody>		
		@for(entry <- Audit.find.all()){
			<tr>
				<td scope="col">@entry.id</td>
				<td scope="col">@entry.typeOf</td>
				<td scope="col">@entry.entity</td>
				<td scope="col">@entry.entityIdentifiedBy</td>
				<td scope="col">@entry.auditDate</td>
				<td scope="col">@entry.by</td>				
			</tr>
		</tbody>	
		}
	</table>
}