@(children: List[models.Child],currentHome: models.Home,nameQuery: String,age: Integer)
@main("searchIndex") {
	<div id="listing">
		<h1>
			Children from @if(currentHome.id == -1){
				All Homes
			}else{
				@currentHome.name
			}
			@if(nameQuery !=null && nameQuery.length>0){
				matching @nameQuery
			} 
		</h1>
		<br/>		
		<div class="well well-small filter">
			<label class="pull-left children-count">Showing @children.size() Children</label>
			<form class="form-inline" method="POST" action="@routes.Search.byName()">
				<div class="pull-right">
				  <label>Children from:</label>
				  <select name="home" id="home">
				  	  <option value="-1">Any</option>	
					  @for(home <- models.Home.all()){
					  	@if(home.id == currentHome.id){					  						  
					  		<option value="@home.id" selected>@home.name</option>
					  	}else{
					  		<option value="@home.id">@home.name</option>
					  	}					  				  
					  }
				  </select>
				  &nbsp;&nbsp;&nbsp;
				  <label>Age:</label>
				  <input type="text" class="input-mini" name="age" id="age" value="@if(age>0){@age}" />
				  <label>Years</label>
				</div>
				<input type="hidden" name="name" id="name" value="@nameQuery"/>
			</form>
		</div>
		</br/>
		<table class="table table-striped children-listing-table">
      <thead>
        <tr>          
          <th class="photo-column"></th>
          <th class="name-column">First Name</th>
          <th class="gender-column">Gender</th>
          <th class="age-column">Age</th>
          <th class="hometown-column">Hometown</th>
        </tr>
      </thead>
      <tbody>      	  
	      @for( child <- children){
	        <tr>
	          <td class="photo-column">
	          	<img src="/photo/@child.id" width="75" height="75" class="img-polaroid">
	          </td>
	          <td class="name-column"><a href="@routes.Admin.childSummary(child.id)">@child.name</a></td>
	          <td class="gender-column">@child.gender</td>
	          <td class="age-column">@child.age</td>
	          <td class="hometown-column">@child.nativeTown,@child.nativeState</td>
	        </tr>
	      }
      </tbody>
    </table>
	</div>
}