@(form: Form[models.Child])

@main("addchild"){
	<div>
		@helper.form(routes.Admin.newChild) {
			<h1>Child Information</h1>
			
			 <p>
	            <input type="name" name="name" placeholder="Name" value="@form("name").value">
	        </p>
	        <p>
	            <input type="age" name="age" value="@form("age").value">
	        </p>
	        <p>
	            <input type="dob" name="dob" value="@form("dob").value">
	        </p>
	        <p>
	            <input type="gender" name="gender" value="@form("gender").value">
	        </p>
	        <p>
	            <button type="submit">Next</button>
	        </p>
			
		}
	</div>
}
