@(form: Form[models.Child],homes: List[models.Home])

@main("addchild"){
	<div>
		@if(form.hasGlobalErrors) { 
	            <p class="error">
	                @form.globalError.message
	            </p>
	        }
	        
		@helper.form(routes.Admin.addChild) {
		
			<fieldset>
				<legend>Basic information about the child.</legend>
				<dl class="field-list">
					<dd><label>Name</label><input type="text" name="name" placeholder="Name" value="@form("name").value"></dd>
					<dd>
						<label>Age</label><input type="text" name="age" value="@form("age").value">
						<span>Date of Birth (DOB)</span>&nbsp;<input type="text" id="dob" name="dob" value="@form("dob").value" class="datepicker">
					</dd>
					<dd>
						<label></label><i>aproximate age if DOB is not known</i>
					</dd>					
					<dd>
						<label>Gender</label>
						<select name="gender" id="gender">
							<option value="M">Male</option>
							<option value="F">Female</option>
						</select>														
					</dd>
					<dd></dd>
				</dl>
	        </fieldset>
	        <fieldset>
	        	<legend>Which home is the child being placed in?</legend>
	        	<label></label>
	            <select name="home" id="home">
	            	@for(h <- homes){
	            		<option value="@h.id">@h.name</option>
	            	}
	            </select><br>
			</fieldset>
			<div class="actions">
					<input type="submit" class="btn primary" value="Next">					
			</div>			    
		}
	</div>
	
}
