@(child: models.Child)

@main("childSummary"){
	<div>
		<img src="/photo/@child.id"/>
	</div>
	<div>
		<b>@child.name</b>, currently resides at 
		<b>@child.home.name</b> ,
		born on <b>@child.dob</b>
		@for(interview <- child.interviews){
			<p>@interview.interviewTranscript</p>
		}
		
		<b>Transfer history</b><br/>
		@for(transfer <- models.Transfer.byChild(child.id)){
			<p>@transfer.reason : @transfer.transferDate</p>
		}
		
	</div>
	<a href="/child/@child.id/interview">Add Interview</a> | <a href="/transfer/@child.id">Transfer</a>
}