@(form: Form[models.Transfer], homes: List[models.Home], child: models.Child)

@main("transferChild"){
	<div>
		@if(form.hasGlobalErrors) { 
	            <p class="error">
	                @form.globalError.message
	            </p>
	        }
	    @helper.form(routes.Admin.doTransfer(child.id)) {
	    
	    	<h1>Transfer Child</h1>
	    	<label>Name : </label> <span>@child.name</span><br/>
	    	<label>From : </label> <span>@child.residesAt.name</span>
	    	<label>To : </label> <select name="toHome" id="toHhome">
	            	@for(h <- homes){
	            		@if(h.id != child.residesAt.id){
	            		<option value="@h.id">@h.name</option>
	            		}
	            	}
	            </select><br/>
	         <label>Transfer approved by:</label> <input type="text" name="approvedBy" id="approvedBy" ><br/>
	         <label>Reason : </label><textarea name="reason" id="reason"></textarea>
	         <button type="submit">Transfer</button> <a href="#">Cancel</a>   
	    }    
	</div>
}