.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  background: url('/assets/images/main-bg.jpg') repeat center top #ffffff;
}
body .top-nav-bar {
  background-color: #d3cbc0;
  border-top: 5px solid #544a3c;
  border-bottom: 5px solid #544a3c;
  *zoom: 1;
  margin-bottom: 10px;
}
body .top-nav-bar:before,
body .top-nav-bar:after {
  display: table;
  content: "";
  line-height: 0;
}
body .top-nav-bar:after {
  clear: both;
}
body .top-nav-bar .center {
  width: 940px;
  margin: 0 auto;
}
body .form-search {
  margin: 5px 0 0;
}
body .page-wrap {
  background: url('/assets/images/shadow-bg.png') repeat-y center top transparent;
  min-height: 100%;
  padding-bottom: 60px;
}
header {
  height: 100px;
  background: #393228;
}
header .content {
  width: 940px;
  margin: 0 auto;
}
header .content .logo {
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px 20px 0 0;
  background: url('/assets/images/missing-logo.png') no-repeat center center transparent;
}
header .content h1 {
  line-height: 100px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 3px 0 #000000;
  float: left;
  margin: 0;
}
.main-container {
  background-color: white;
  border: 5px solid #544a3c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 500px;
  padding: 20px;
}
.footer {
  background: #393228;
  border-top: 5px solid #544a3c;
}
.footer .content {
  width: 940px;
  margin: 0 auto;
}
.footer .content .brand {
  text-shadow: none;
  color: white;
}
.footer .content .nav a {
  color: white;
  text-shadow: none;
}
#login {
  background: url('/assets/images/lil_fiber.png') repeat center top #ffffff;
  border: 5px solid #d3cbc0;
  width: 400px;
  margin: 100px auto;
  padding: 20px;
}
#home .thumbnails .thumbnail {
  text-align: center;
}
#home .thumbnails .thumbnail h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 5px;
}
#home .thumbnails .thumbnail p {
  margin-bottom: 5px;
}
#child-summary .profile-picture img {
  width: 210px;
}
#child-summary .conducted-on {
  margin-top: 20px;
}
#reports #poster-report .child {
  float: left;
  width: 230px;
  margin: 2px;
  position: relative;
}
#reports #poster-report .child .info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
#reports #poster-report .child .info .pad {
  margin: 5px 10px 2px;
}
#reports #poster-report .child .info h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}
#reports #poster-report .child .info .details {
  font-size: 12px;
  color: #999;
}
#reports #poster-report .child .missing-info {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 80px;
  text-align: center;
  background: #131313;
  border: 1px solid #404040;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#reports #poster-report .child .missing-info .caption {
  color: #999;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 1em;
  padding: 2px 5px;
}
#reports #poster-report .child .missing-info .count {
  font-size: 24px;
  font-weight: 300;
  margin-top: 3px;
  color: white;
}
#reports #poster-report .child .missing-info .days {
  text-transform: uppercase;
  font-size: 10px;
  color: #cccccc;
}
#listing .filter {
  *zoom: 1;
}
#listing .filter:before,
#listing .filter:after {
  display: table;
  content: "";
  line-height: 0;
}
#listing .filter:after {
  clear: both;
}
#listing .filter .children-count {
  margin-top: 5px;
}
.children-listing-table .index-column {
  width: 20px;
}
.children-listing-table .photo-column {
  width: 80px;
  text-align: right;
}
.children-listing-table .name-column {
  width: 300px;
}
.children-listing-table .name-column a {
  font-weight: bold;
}
.children-listing-table .gender-column {
  width: 80px;
}
.children-listing-table .age-column {
  width: 80px;
}
