@(form: Form[models.Login])

@main("Login"){	

	<div id="login">

		@helper.form(routes.Application.authenticate, 'class -> "form-horizontal") {
	    <fieldset>
				<legend>Sign In</legend>

				<!-- Username -->
				<div class="control-group">
					<label class="control-label" for="email">Username:</label>
					<div class="controls">
						<input type="email" name="email" placeholder="Enter your E-Mail address" value="@form("email").value" />
					</div>
				</div>

				<!-- Password -->
				<div class="control-group">
					<label class="control-label" for="password">Password:</label>
					<div class="controls">
						<input type="password" name="password" placeholder="Password">
					</div>
				</div>

				<!-- Actions -->
			  <div class="control-group">
			  	<div class="controls">
			  		<input type="submit" class="btn btn-primary" value="Login">
			  	</div>
		  	</div>

			</fieldset>
	        	        
      @if(form.hasGlobalErrors) { 
        <p class="error">
        	@form.globalError.message
        </p>
      }
        
      @if(flash.contains("success")) {
        <p class="success">
        	@flash.get("success")
        </p>
      }
		}
	</div>
}