@(form: Form[models.Login])

@main("Login"){	
	    @helper.form(routes.Application.authenticate) {
	    <fieldset>
				<legend>Sign in.</legend>
				<dl class="field-list">
					<dd><input type="email" name="email" placeholder="Email" value="@form("email").value"></dd>
					<dd><input type="password" name="password" placeholder="Password"></dd>
				</dl>
				<div class="actions">
					<input type="submit" class="btn primary" value="Login">
					<a href="#" class="btn">Cancel</a>					
				</div>
		</fieldset>		    
	        	        
        @if(form.hasGlobalErrors) { 
            <p class="error">
                @form.globalError.message
            </p>
        }
        
        @if(flash.contains("success")) {
            <p class="success">
                @flash.get("success")
            </p>
        }
	}    
 }


