@(transfer: models.Transfer)

@main("transferSummary"){
	<fieldset>
			<legend>Transfer Summary for</legend>
			<dl class="field-list">
				<dd>					 
					<span><b>@transfer.child.name</b></span>				
					<span>
						From &nbsp;
						<b>@transfer.transferFrom.name</b>
						To &nbsp;
						<b>@transfer.transferTo.name</b>
					</span>
				</dd>
				<dd>
					<span>
						Transfer approved by <b>@transfer.approvedBy</b>
					</span>	
				</dd>
				<dd>
					<span>Reason : </span>
					<p>@transfer.reason</p>
				</dd>
			</dl>
	</fieldset>
	<div class="actions">
		<input type="button" class="btn primary" value="Print">					
	</div>	
}